<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li *ngIf="isAppManager()" class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="suppliers"
        >suppliers</a
      >
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <!-- Dropdown -->
    <li class="nav-item dropdown" *ngIf="!this.isAuth">
      <a class="nav-link" (click)="onLogin()">Login</a>
    </li>

    <li class="nav-item dropdown" *ngIf="this.isAuth">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbardrop"
        data-toggle="dropdown"
        href="/sso/login"
        >{{ userInformations.name }}</a
      >
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="onLogout()">Logout</a>
        <a class="dropdown-item" (click)="ManagedAccount()">Manage account</a>
      </div>
    </li>
  </ul>
</nav>  

<main>
  <router-outlet name="yassa"></router-outlet>
  <router-outlet></router-outlet>
  <router-outlet name="amar"></router-outlet>
</main>
